@model Veterinarias.Modelos.Visitas

<div class="ibox-content">
    <div class="row">
        @*FILTRA EN MI INDEX PERO YA NO EDITA EL COMBO NI EL METODO BUSCAR*@
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col col-sm-12">
                <div class="form-group">
                    <div class="input text">
                        @*crear un cuadro de texto donde se rellenaran los siguientes datos*@

                        <div class="form-group col-md-6">
                            <input class="form-control input-sm" hidden id="IdPersonas" asp-for="IdPersona" />
                            <label class="control-label">
                                Dueño
                                <a onclick="onclickBuscarPersonas()" class="btn btn-sm btn-info text-white">Buscar</a>
                            </label>
                            <input required disabled class="form-control" id="NombrePersona2" name="NombrePersona2" />
                            <input type="hidden" asp-for="PersonaDescripcion" id="emp_person" name="PersonaDescripcion" class="form-control" />
                            <input type="hidden" id="TipoDocumento" name="TipoDocumento" class="form-control" />
                            <input type="hidden" id="NumeroDocumento" name="NumeroDocumento" class="form-control" />
                        </div>

                        <div class="input-text">
                            <label asp-for="FechaVisita" class="control-label">Fecha Visita</label>
                            <input asp-for="FechaVisita" class="form-control" type="date" required />
                            <span asp-validation-for="FechaVisita" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdVeterinario" class="control-label">Veterinario</label>
                            <select asp-for="IdVeterinario" class="form-control" asp-items="ViewBag.IdVeterinario"></select>
                            <span asp-validation-for="IdVeterinario" class="text-danger"></span>
                        </div>
                        <div class="input-text">
                            <label asp-for="HoraIngreso" class="control-label">Hora Ingreso</label>
                            <input asp-for="HoraIngreso" class="form-control" type="time" required />
                            <span asp-validation-for="HoraIngreso" class="text-danger"></span>
                        </div>

                        <div class="input-text">
                            <label asp-for="Notas" class="control-label">Notas</label>
                            <input asp-for="Notas" class="form-control" />
                            <span asp-validation-for="Notas" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12 text-right">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>