@model IEnumerable<Veterinarias.Modelos.Personas>

<div class="ibox-content">
    <br />
    <form class="form-inline" method="post">
        <div class="p-l-35">
            <input class="form-control input-sm" type="text" name="proveedor" id="parametroBusqueda" placeholder="Buscar dueño..." style="width:250px;" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="onclickBuscarDueño();" id="boton" class="btn btn-success  add2-dialog-window">Buscar</a>
        </div>
    </form>
    <br />
    @if (Model.Count() != 0)
    {
        var mensaje = $"Se encontraron {@Model.Count()} Registros.";
        <div class="table-responsive table-sm table-hover" style="max-height:500px !important; overflow-y:scroll">
            <table id="tablaBuscarDueño" class="table table-hover">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td hidden>@item.Id</td>
                            <td>@item.Nombres</td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>
        <div class="alert alert-warning" style="display:@ViewBag.styleE">
            @mensaje
        </div>

        <a onclick="GuardarDueñoSeleccionado()" class="btn btn-danger btn-block ">Guardar</a>
    }
    else
    {
        <div class="alert alert-warning" style="display:@ViewBag.styleE">
            No se encontraron registros.
        </div>
    }
    
</div>
